.Button{
    outline: none;
    background-color: #58D68D ;
    

}
.btn{
    background-color: #141A46;
}
.btn:hover{
    background-color: #58D68D ;
}
.bt{
    background-color:#58D68D;
    color: white;
}
.bt:hover{
    background-color:aquamarine;
    color: black;
}